# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Dolphin
.directory

# Output animations et al
*.gif
*.png

# Own Flag files
*.flag
# Own State files
*.state

# Output directories
OUTPUTS
